version: '2'
services:
  web:
    build: etc/docker/dev/nginx
    depends_on:
      - app
    ports:
      - 80
    volumes_from:
      - app
  app:
    image: 1maa/php-dev:7.0
    ports:
      - 22
    volumes:
      - .:/var/www/silex.dev
    working_dir: /var/www/silex.dev
